*.swp
Config/*
*.json
*.yaml
*.yml
*.o
blib/*
*.bs
*._const.pm
author_utils/*
src/*
Makefile
t/tmp/*
log*
misc/*
MANIFEST
Changes
COMPILER_FLAGS
xs/Client.c
xs/Client_multi.c
xs/Couch_request_handle.c
xs/Iterator_get.c
pm_to_blib
