*.swp
*.json
*.yaml
*.yml
*.o
blib/*
*.bs
author_utils/*
Makefile
Makefile.old
t/tmp/*
log*
Changes
xs/Couchbase.c
xs/Client.c
xs/View.c
xs/BucketConfig.c
xs/N1QLParams.c
xs/IO.c
pm_to_blib
*.tar.gz
Couchbase-*
