Changes
MANIFEST
MANIFEST.SKIP
Makefile.PL
README.pod

################################################################################
### Base Perl API                                                            ###
################################################################################
lib/Couchbase.pm
lib/Couchbase/Bucket.pm
lib/Couchbase/Document.pm
lib/Couchbase/OpContext.pm
lib/Couchbase/Constants.pm
lib/Couchbase/_GlueConstants.pm
lib/Couchbase/Settings.pm

################################################################################
### Testing API                                                              ###
################################################################################
lib/Couchbase/MockServer.pm
lib/Couchbase/Test/ClientSync.pm
lib/Couchbase/Test/Common.pm
lib/Couchbase/Test/Settings.pm
lib/Couchbase/Test/Netfail.pm
lib/Couchbase/Test/Views.pm

################################################################################
### Views Perl API                                                           ###
################################################################################
lib/Couchbase/View/Handle.pm
lib/Couchbase/View/HandleInfo.pm

################################################################################
################################################################################
### Common C Support                                                         ###
################################################################################
################################################################################
xs/perl-couchbase.h
xs/plcb-util.h
xs/plcb-return.h
xs/ppport.h
xs/typemap

xs/callbacks.c
xs/convert.c

################################################################################
### Basic C Client Support                                                   ###
################################################################################
xs/args.c
xs/operations.c
xs/Couchbase.xs
xs/plcb-args.h

################################################################################
### Views C Support                                                          ###
################################################################################
xs/perl-couchbase-couch.h
xs/viewhandle.c
xs/View.xs

################################################################################
### Examples                                                                 ###
################################################################################
eg/couch_demo.pl
eg/memd_iter.pl
eg/memd_multi.pl
eg/memd_basic.pl
eg/memd_async.pl


################################################################################
### Test Skeleton                                                            ###
################################################################################
t/00-load.t
t/01-main.t
t/tmp/CouchbaseMock.jar

# libcouchbase

inc/Devel/CheckLib.pm

PLCB_ConfUtil.pm
PLCB_Config.pm
build_libraries.pl

constants/idx_constants.pl
constants/error_constants.pl
constants/print_constants.pl

src/Makefile.PL
src/libcouchbase.pm
src/libcouchbase-__LIBCOUCHBASE_RELEASE__.tar.gz
